<!doctype html>
<html lang="en">
<head>
    {{> head}}
    <title>{{name}}</title>
</head>
<body class="text-black bg-white dark:text-white dark:bg-gray-800 overscroll-none">
    {{> header}}
    <div class="px-1 md:px-2">
        {{{bare}}}
    </div>
    {{> footer}}
</body>
</html>