<!doctype html>
<html lang="en">
<head>
    {{> head}}
    <title>Home</title>
</head>
<body class="text-black bg-white dark:text-white dark:bg-gray-800 overscroll-none">
    {{> header}}
    <div class="px-1 md:px-2 h-[calc(100vh-1.5rem)] overflow-auto w-full">
        <h1 class="flex items-center justify-center font-extrabold text-[4rem] md:text-[8rem] mt-8 md:mt-16 mb-2">
            Hello there!
        </h1>
        <div class="grid grid-cols-3 gap-2 mb-8">
            <a class="text-white rounded-xl text-center p-2 bg-indigo-500 hover:bg-indigo-600" href="/blog/">Blog</a>
            <a class="text-white rounded-xl text-center p-2 bg-[#7289DA] hover:bg-[#3656c9]" href="https://discord.gg/FCnK6xp">Discord</a>
            <a class="text-white rounded-xl text-center p-2 bg-gray-700 hover:bg-gray-900" href="https://github.com/Le0Developer">Github</a>
        </div>
        <h2>
            <a class="block bg-gray-200 dark:bg-gray-900 w-full py-4 text-center" id="csgo" href="#csgo">
                CS:GO
            </a>
        </h2>
        <div class="grid grid-cols-1 md:grid-cols-2 m-4">
            <div id="onetap" class="rounded-xl ring-4 ring-gray-200 dark:ring-gray-900 my-2 md:my-0 md:mx-2 p-2">
                <h3 class="text-xl font-bold">Onetap</h3>
                <hr>
                <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-1 lg:grid-cols-3">
                    <div>
                        <p class="font-semibold mt-4">Onetap V3</p>
                        <a class="block text-blue-600 dark:text-blue-400" href="/csgo/onetap/v3/docs/">Documentation</a>
                        <a class="block text-blue-600 dark:text-blue-400" href="/csgo/onetap/v3/scripts.html">Scripts</a>
                    </div>
                    <div>
                        <p class="font-semibold mt-4">Onetap V3 Re:Run</p>
                        <a class="block text-blue-600 dark:text-blue-400" href="/csgo/onetap/v3rerun/runtime.html">Runtime</a>
                        <a class="block text-blue-600 dark:text-blue-400" href="/csgo/onetap/v3rerun/docs/">Documentation</a>
                        <a class="block text-blue-600 dark:text-blue-400" href="/csgo/onetap/v3rerun/scripts.html">Scripts</a>
                    </div>
                    <div>
                        <p class="font-semibold mt-4">Onetap V4</p>
                        <a class="block text-blue-600 dark:text-blue-400" href="/csgo/onetap/v4/docs/">Documentation</a>
                    </div>
                </div>
            </div>
            <div id="aimware" class="rounded-xl ring-4 ring-gray-200 dark:ring-gray-900 my-2 md:my-0 md:mx-2 p-2">
                <h3 class="text-xl font-bold">Aimware</h3>
                <hr>
                <p class="font-semibold mt-4">Aimware V5</p>
                <a class="block text-blue-600 dark:text-blue-400" href="/csgo/aimware/v5/docs/">Documentation</a>
                <a class="block text-blue-600 dark:text-blue-400" href="/csgo/aimware/v5/scripts.html">Scripts</a>
            </div>
        </div>

        {{> footer}}
    </div>
</body>
</html>